<h1>Welcome, <%=@user.name%></h1>
<span><a href="/logout"> Logout</a></span>
<h3>Here is the List of Books.</h3><br><br>
<% @user.book_entries.all.each do |book_entry|%>
<h4><strong> Name of The Book: </strong><%=book_entry.name%></h4>
<li><strong> Author Name: </strong><%=book_entry.author%></li>
<li><strong> Notes: </strong><%=book_entry.notes%></li><br><br>
<%end%>

checkbok content
I've read this book - read - true
I want to read this book - unread - false
