<h1>Welcome, Login to Your Account</h1><br>

<div class="login-form">
  <div class="form">
    <form class="login-form" action="/login" method="post">
      <label for="email"></label>
      <input type="text" name="email" placeholder="email address"/>
      <label for="password"></label>
      <input type="password" name="password" placeholder="password"/>
      <button type="submit">Login</button>
      <h5>New User? <a href="/signup">Sign Up</a></h5>
    </form>
  </div>
</div>
