<h1>Welcome to Sinatra Book App,<br>Create an Account</h1><br>

<div class=signup-form">
  <div class="form">
    <form class="signup-form" action="/signup" method="post">
      <label for="name"></label>
      <input type="text" name="name" placeholder="Enter Your Name">
      <label for="email"></label>
      <input type="text" name="email" placeholder="Email Address"/>
      <label for="password"></label>
      <input type="password" name="password" placeholder="Password"/>
      <button type="submit">Login</button>
      <h5>Existing User? <a href="/login">Sign In</a></h5>
    </form>
  </div>
</div>
