
<h2>Create a new book entry</h2>
<div class="form">
  <form class="login-form" action="/users/:id/books/new" method="post">
    <label for="name">Book Name: </label>
    <input type="text" name="name" placeholder="Book Name"><br>
    <label for="author">Author: </label>
    <input type="text" name="author" placeholder="Author Name"><br>
    <label for="notes">Notes: </label>
    <input type="text" name="notes" placeholder="Notes"><br><br>
  <!--  <input type="radio" name="status" value=true> I'va read this book.
    <input type="radio" name="status" value=false> I want to read this book. -->
    <button type="submit">Submit</button>
</form>
</div>
